@model CounterModel

<h2 class="d-inline-block mb-4">You need to pay:</h2>



<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Charge for AM rate @Model.AM_rate $</td>
        </tr>
        <tr>
            <td>Charge for PM rate @Model.PM_rate $</td>
        </tr>
    </tbody>
</table>