@model CounterModel
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Charge for @Model.TotalAMTime.Hour h @Model.TotalAMTime.Minute m (AM rate): £@Model.AM_total </td>
        </tr>
        <tr>
            <td>Charge for @Model.TotalPMTime.Hour h @Model.TotalPMTime.Minute m (PM rate): £@Model.PM_total </td>
        </tr>
        <tr>
            <td>Total Charge: £@Model.TotalCharge  </td>
        </tr>
    </tbody>
</table>